In [1]:
import cv2
import numpy as np
import dlib
import array
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
import sys

In [23]:
a = [[1,2,3][]]
a.append ([],['nose', 'nose'])
a

SyntaxError: invalid syntax (<ipython-input-23-ae8e560e8ab5>, line 1)

lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(df)

df.append('apple')

original = [[1, 447, 176], [2, 448, 188], [3, 449, 200], [4, 451, 212], [5, 456, 223], [6, 462, 232], [7, 470, 240], [8, 479, 246], [9, 490, 247], [10, 500, 246], [11, 510, 240], [12, 518, 232], [13, 525, 223], [14, 530, 213], [15, 532, 201], [16, 534, 189], [17, 535, 177], [18, 455, 169], [19, 460, 165], [20, 467, 164], [21, 475, 165], [22, 482, 168], [23, 501, 168], [24, 508, 165], [25, 516, 164], [26, 523, 165], [27, 529, 170], [28, 491, 178], [29, 491, 185], [30, 491, 192], [31, 491, 200], [32, 483, 206], [33, 487, 207], [34, 491, 207], [35, 495, 207], [36, 499, 206], [37, 464, 178], [38, 469, 175], [39, 474, 176], [40, 478, 179], [41, 473, 180], [42, 468, 180], [43, 504, 180], [44, 509, 176], [45, 514, 176], [46, 519, 178], [47, 515, 181], [48, 509, 181], [49, 476, 224], [50, 481, 220], [51, 487, 218], [52, 490, 219], [53, 494, 219], [54, 499, 221], [55, 504, 225], [56, 499, 229], [57, 494, 231], [58, 490, 231], [59, 486, 231], [60, 481, 229], [61, 479, 224], [62, 487, 222], [63, 490, 223], [64, 494, 222], [65, 501, 225], [66, 494, 225], [67, 490, 225], [68, 486, 225]]
distance_list = []
apple = []
new = []
test = [1,2,3]
apple.append(['Chin', 'Right Eyebrow', 'Left Eyebrow', 'Long Nose', 'Bottom Nose', 'Right Eyes', 'Left Eyes', 'Mouth'])

print(orignal[len(original)

original

for n in range(0,68):
    if n == 0 or n == 16 or n == 17 or n ==21 or n == 22 or n == 26 or n == 27 or n == 30 or n == 31 or n == 35 or n == 36 or n == 41 or n == 42 or n == 47 or n == 48 or n == 67:
        x = original[n][1]
        y = original[n][2]
        distance_list.append([x,y])

for i in range(0,16,2):
        dis = np.sqrt(np.square(distance_list[i+1][0] - distance_list[i][0])+np.square(distance_list[i+1][1] - distance_list[i][1]))
        apple.append(dis)

print (apple)

df = pd.DataFrame(original)
df.columns = ['Person 1', 'a', 'ds']
#df.index.name = ['dddd']
#df.rename(index=str, rows = {"0": "One"})
#df.row.name = ['Name', 'Chin', 'Right Eyebrow', 'Left Eyebrow', 'Long Nose', 'Bottom Nose', 'Right Eyes', 'Left Eyes', 'Mouth']

df

x = os.listdir('/Users/kp/Desktop/Project_Research/test_image/ktp')
x.remove(".DS_Store")


# a= "monkeybanana"
# b= "monkeyape"
# c= "apple"
# list= [a, b, c]


# print ("The words that start with monkey are:")

# for k in list:
#     if k.startswith('monkey'):
#         k.remove(k)